<div class="new_account">

  <h3>ID(emailアドレス)と パスワードを入力してください</h3>
</div>

<div class="login">

  <form action="/create_account"  method="post">
    ID:
    <input type="text" name="email" placeholder="ID" >

    名前:
    <input type="text" name="name" placeholder="name">

    パスワード:
    <input type="text" name="password" placeholder="password">

    <input type="submit" value="登録">
  </form>

</div>
