<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
</head>
<body>
 <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
 <% end %>

 <%= yield %>
</body>
</html>
