<div class="wrapper">
  <div class="title">

    <h3>名前と パスワードを入力してください</h3>
  </div>
  <div class="login">

     <form action="/login" method="post">
          名前: <input type="text" name="name" placeholder="name">


         パスワード:<input type="text" name="password" placeholder="password">

         <input type="submit" value="送信">
     </form>
  </div>

    <div class="">
      <a href="/create_account">アカウント新規作成</a>
    </div>

</div>
