<div class="home_page">

  <div class="user_name">
    <!-- <%=@user_name%>さんようこそ! -->
  </div>
  <div class="menu">
    <div class="my_account">
      ・アカウント設定
    </div>
    <div class="friends">
      ・友達
    </div>
    <div class="talk">
      ・トーク
    </div>
    <div class="add_friend">
      ・友達追加
        <div class="add_table">
          ・友達検索
          ・リクエスト承認待ち一覧
          ・リクエスト中一覧
        </div>
    </div>
    　
  </div>

</div>
